.buttonStyle {
  @apply ml-5 mt-5 relative z-0 flex items-center justify-center gap-2 overflow-hidden rounded-md border-[2px] w-[485px] h-[50px] 
  
   border-[#C4C4C4] hover:border-cw-background bg-[#C4C4C4] px-4 py-2 font-cookWiz text-5xl
   text-cw-background transition-all duration-500
  
    
  
    before:absolute before:inset-0
  
    before:-z-10 before:translate-x-[150%]
  
    before:translate-y-[150%] before:scale-[2.5]
  
    before:rounded-[100%] before:bg-cw-background
  
    before:transition-transform before:duration-1000
  
    before:content-[""]
  
  
    hover:scale-105 hover:text-white
  
    hover:before:translate-x-[0%]
  
    hover:before:translate-y-[0%]
  
    active:scale-95;
}

.textStyle {
  @apply font-cookWiz text-[70px] text-cw-primary;
}

.textPassword {
  @apply font-cookWiz text-[60px] text-cw-primary;
}

.cardLayout {
  @apply w-[240px] h-[380px] bg-cw-secondary rounded-xl flex flex-col items-center;
}
.textQuestion {
  @apply font-cookWiz text-[70px] text-cw-primary leading-10 mb-10;
}
.textAnswer {
  @apply font-cookWiz text-[60px] text-cw-primary leading-10 ml-10 mt-5 mb-10;
}

.texttest {
  @apply text-[60px] font-cookWiz text-cw-primary;
}
