.inputStyle {
  @apply block w-full input input-bordered border-2 border-cw-tertiary outline-none font-cookWiz focus:outline-none focus:border-cw-background duration-300;
}
.buttonStyle {
  @apply relative z-0 flex items-center justify-center gap-2 overflow-hidden rounded-md border-[2px] w-[485px] 

 border-[#C4C4C4] hover:border-cw-background bg-[#C4C4C4] px-4 py-2 font-cookWiz
 text-cw-background transition-all duration-500

  

  before:absolute before:inset-0

  before:-z-10 before:translate-x-[150%]

  before:translate-y-[150%] before:scale-[2.5]

  before:rounded-[100%] before:bg-cw-background

  before:transition-transform before:duration-1000

  before:content-[""]


  hover:scale-105 hover:text-white

  hover:before:translate-x-[0%]

  hover:before:translate-y-[0%]

  active:scale-95;
}

/* he */